body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskCreator{
    display: flex;
    flex-direction: row;
}

.addBtn{

}

.tasks{
    display: flex;
    flex-direction: column;
}

p{
    display: flex;
}

.completed{
    text-decoration: line-through;
}
